.szamlalo {
  border: 2px solid black;
  margin: 10px;
}

.stopper {
  border: 2px solid black;
  margin: 10px;
}

.blue {
  border: 2px solid blue;
  margin: 10px;
}
.red {
  border: 2px solid red;
  margin: 10px;
}
.green {
  border: 2px solid green;
  margin: 10px;
}
.yellow {
  border: 2px solid yellow;
  margin: 10px;
}
.pink {
  border: 2px solid pink;
  margin: 10px;
}
